@keyframes countdown-animation {
    0% {}
    25% {
        color: #193D5A;
        text-shadow: 5px 9px #FFF;
    }
    50% {
        color: white;
        text-shadow: 2px 4px #C09460
    }
    75% {
        color: white;
        text-shadow: 5px 9px #193D5A
    }
    100% {}
}

.countdownAnimation {
    animation: countdown-animation 12s ease-in-out infinite;
}